/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    display: flexbox;
    display: block;
    min-height: 100vh;
    
}*/

/* Form-Contacto
.form{
    background: rgba(255, 255, 255, 50%);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
   
    
}

.form_title{
            font-size: 2rem;
            margin-bottom: .5em;
}

.form_paragraph{
    font-weight: 300px;
}
.form_link{
    font-weight: 400;
    color: white;
}
.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_group{
    position: relative;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.form_input:focus + .form_label{
    transform: translateY(-12px) scale(.7);

}

.form_input{
    width: 100%;
    background: none;
    color: #111010;
    font-size: 1rem;
    padding: .6em .3m;
   border: none;
    outline: none;
    border-bottom: 1px solid;
    font-family: 'Roboto', sans-serif;
}
.form_label{
    color: var(0 0 0 );
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(1px) ;
    transition: transform .5s, color .3s;

}*/